<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="PageObjectModel">
  <test thread-count="5" name="DoShopping"> 
    <classes>
      <class name="tests.HomePageTest"/>
      <class name="tests.SignInPageTest"/>
    </classes>
  </test> 
</suite> 
